.ListComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
}

.items-container {
	width: 400px;
}

@media (max-width: 600px) {
  .ListComponent {
    width: 100%;
  }

  .items-container {
    width: 80%;
  }
}